[package]
name = "rust-mcp-sdk"
version = "0.7.4"
authors = ["Ali Hashemi"]
categories = ["data-structures", "parser-implementations", "parsing"]
description = "An asynchronous SDK and framework for building MCP-Servers and MCP-Clients, leveraging the rust-mcp-schema for type safe MCP Schema Objects."
repository = "https://github.com/rust-mcp-stack/rust-mcp-sdk"
documentation = "https://docs.rs/rust-mcp-sdk"
keywords = ["rust-mcp-stack", "model", "context", "protocol", "sdk"]
license = "MIT"
edition = "2021"
rust-version = { workspace = true }
exclude = ["assets/", "tests/"]

[dependencies]
rust-mcp-schema = { workspace = true, default-features = false }
rust-mcp-transport = { workspace = true, default-features = false }
rust-mcp-macros = { workspace = true, optional = true, default-features = false }

tokio.workspace = true
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
thiserror = { workspace = true }

axum = { workspace = true, optional = true }
uuid = { workspace = true, features = ["v4"] }
tokio-stream = { workspace = true, optional = true }
axum-server = { version = "0.7", features = [], optional = true }
tracing.workspace = true
base64.workspace = true
bytes.workspace = true

# rustls = { workspace = true, optional = true }
hyper = { version = "1.6.0", optional = true }
http = { workspace = true, optional = true }
http-body-util = { workspace = true, optional = true }
http-body = { workspace = true, optional = true }
url = {workspace = true, optional=true}
jsonwebtoken = {version="10.1", optional=true, features=["aws_lc_rs"]}
reqwest = { workspace = true, default-features = false, features = [
    "stream",
    "rustls-tls",
    "json",
    "cookies",
    "multipart",
], optional = true }

[dev-dependencies]
wiremock = "0.5"
tempfile = "3.23.0"
tracing-subscriber = { workspace = true, features = [
    "env-filter",
    "std",
    "fmt",
]}

[features]
default = [
    "client",
    "server",
    "auth",
    "macros",
    "stdio",
    "sse",
    "streamable-http",
    "hyper-server",
    "ssl"
] # All features enabled by default

sse = ["rust-mcp-transport/sse","http","http-body","http-body-util"]
streamable-http = ["rust-mcp-transport/streamable-http","http","http-body","http-body-util"]
stdio = ["rust-mcp-transport/stdio"]
auth=["url","jsonwebtoken/aws_lc_rs","reqwest"]

server = []                                                               # Server feature
client = []                                                               # Client feature
hyper-server = ["axum", "axum-server", "hyper", "server", "tokio-stream","http","http-body","http-body-util"]
ssl = ["axum-server/tls-rustls"]
tls-no-provider = ["axum-server/tls-rustls-no-provider"]
macros = ["rust-mcp-macros/sdk"]


[lints]
workspace = true

[package.metadata.typos]
default.extend-ignore-re = ["clonable"]
